*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1E1C21;
    height: 80px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
}

.menu{
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

body{
    background-color: black;
}

.login label{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif

}

.login input{
    height: 30px;
    width: 300px;
}

.botao-enviar{
    width: 180px;
    background-color: burlywood;
    height: 40px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.campo-email{
    display: flex;
    height: 50px;
    padding: 20px;
}
.campo-senha{
    padding: 20px;
    display: flex;

}

.login{
    align-items: center;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   margin-top: 200px;
}